* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.hero {
    background-image: url('b2.jpg');
    background-size: cover;
    background-position: center top;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

.hero h1 {
    font-size: 80px;
    line-height: 1.2;
    font-weight: 700;
    text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.7);
    opacity: 0;
    transform: translateY(-100px);
    animation: slideUp 1.5s ease-in-out forwards;
}

.hero p {
    font-size: 24px;
    margin-top: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    opacity: 0;
    transform: translateY(-520px);
    animation: slideUp 1.5s ease-in-out 0.3s forwards;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(-20);
    }
}

section {
    text-align: center;
    font-size: 24px;
}

.What-is-muscle {
    background-color: hsla(var(--black-hsl), 1);
    height: auto;
    display: flex;
    justify-content: space-between;
}

.text-align-left {
    text-align: left;
}

.section1-text2-area {
    width: 700px;
}

.section1-text1 {
    color: #555;

}

.section1Text {
    margin: 300px 0 0 400px;
}

.img-area img {

    height: 100vh;

}

.section1-text2-area {
    font-size: 20px;

}


.video {
    background-color: #e0e0e0;
}

.quiz {
    background-color: #d0d0d0;
}

.Trapezius {
    z-index: 11;
    position: absolute;
    margin: 800px 0px 0px 270px;
    font-weight: bold;
    font-size: 20px;
}

.Shoulder {
    z-index: 11;
    position: absolute;
    margin: 1100px 0px 0px 100px;
    font-weight: bold;
    font-size: 20px;
}

.Back {
    z-index: 11;
    position: absolute;
    margin: 1300px 0px 0px 110px;
    font-weight: bold;
    font-size: 20px;
}

.Triceps {
    z-index: 11;
    position: absolute;
    margin: 1600px 0px 0px 85px;
    font-weight: bold;
    font-size: 20px;
}

.Biceps {
    z-index: 11;
    position: absolute;
    margin: 1500px 0px 0px 115px;
    font-weight: bold;
    font-size: 20px;
}

.Forearms {
    z-index: 11;
    position: absolute;
    margin: 2200px 0px 0px 8px;
    font-weight: bold;
    font-size: 20px;
}

.Chest {
    z-index: 11;
    position: absolute;
    margin: 1300px 0px 0px 1200px;
    font-weight: bold;
    font-size: 20px;
}

.ABS {
    z-index: 11;
    position: absolute;
    margin: 2300px 0px 0px 1210px;
    font-weight: bold;
    font-size: 20px;
}

.Quadriceps {
    z-index: 11;
    position: absolute;
    margin: 3500px 0px 0px 110px;
    font-weight: bold;
    font-size: 20px;
}

p {
    color: #555;
}

.Hamstrings {
    z-index: 11;
    position: absolute;
    margin: 4100px 0px 0px 110px;
    font-weight: bold;
    font-size: 20px;
}

.Calves {
    z-index: 11;
    position: absolute;
    margin: 4700px 0px 0px 110px;
    font-weight: bold;
    font-size: 20px;
}